/* Colors
-------------------------------------------------- */

$color-base: #212121;

$color-primary: #0071bc !default;
$color-primary-darker: #205493 !default;
$color-primary-darkest: #112e51 !default;

$color-primary-alt: #02bfe7;
$color-primary-alt-darkest: #046b99;
$color-primary-alt-dark: #00a6d2;
$color-primary-alt-light: #9bdaf1;
$color-primary-alt-lightest: #e1f3f8;

$color-gray: #5b616b !default;
$color-gray-dark: #323a45 !default;
$color-gray-light: #aeb0b5 !default;
$color-gray-lighter: #d6d7d9 !default;
$color-gray-lightest: #f1f1f1 !default;
$color-gray-background: #f4f4f4 !default;

$color-gray-cool-light: #dce4ef !default;

$uscis-blue: #003366 !default;

$uscis-light-blue: #006699 !default;
$uscis-light-blue-80: #3385ad !default;
$uscis-light-blue-10: #cce0eb !default;

$uscis-light-gray: #ccc !default;
$uscis-dark-gray: #666 !default;

$rfds-blue: #337ab7 !default;

$rfds-alt-blue: #247ba0 !default;
$rfds-alt-blue-darker: #1b5b76 !default;

/* Layout
-------------------------------------------------- */

$spacer: 24px !default;

$navbar-height: 93px !default;
$usa-banner-height: 22px !default;
